.page1 {
    margin: auto;
    width: 90vmax;
    font: 500 1vmax "Gilroy";
    overflow: hidden;
    margin-top: 8vmax;
   
} 
.page1-box {
    height: 40vmax;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 2px solid black; */

   
}
.subtitle {
    width: 90vmax;
    height: 40vmax;
    /* border: 2px solid black; */
    flex-direction: column;
    
} 
.title {
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 1vmax;
    font-weight: lighter;
    color: rgb(100, 99, 99);
    margin-top: 2vmax;

}
.subtitle > h1 {
    margin-top: 3vmax;
    font-size: 5.5vmax; 
    line-height: 5vmax;
   

 }  
 .subtitle > P {
    /* border: 2px solid black; */
    margin-top: 2vmax;
    font-size: 1vmax;
    font-weight: lighter;
    color: rgb(100, 99, 99);
    line-height: 1.5vmax;

}  

.appstore, .playstore {
    width: 20vmax;
    margin-top: 2vmax;
    width: 10vmax;

}  

.image > img {
    width: 50vmax;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(5vmax, -6vmax) scale(1.2);
   
} 
 
/* *********** */

@media screen and (max-width: 600px) {

    .page1 {
        width: 45vmax;
        height: 45vmax;
        
    }

    .page1-box {
        width: 100vw;
        height: 80vmax;
        flex-direction: column;
        
    }
    
    .title {
        width: 45vmax;
        padding: 0 8px;
        font-size: 1vmax;
        font-weight: lighter;
        color: rgb(100, 99, 99);
        margin-top: 2vmax;
      
    }
    .subtitle > h1 {
        width: 45vmax;
        font-size: 5.5vmax; 
        line-height: 5vmax;
        text-align: center;
       
    
     }  
     .subtitle > P {
        width: 45vmax;
        margin-top: 2vmax;
        font-size: 1vmax;
        font-weight: lighter;
        color: rgb(100, 99, 99);
        line-height: 1.5vmax;
        text-align: center;
    
    } 
    .sub-btn {
       
        width: 44vmax;

    }
    .appstore, .playstore {
        margin-top: 2vmax;
        width: 10vmax;
       
        
        
       
       
    
    }   
    .image > img {
        opacity: .4;
        transform: translate(3vmax,-41vmax);
        width: 120%;
        
    }  
}